@font-face {
    font-family: "bareonDotum";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "bareonDotum";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonDotum/bareonDotum-Bold.ttf") format("truetype");
    font-display: swap;
} 
.bareonDotum {
    font-family: "bareonDotum";
}
.bareonDotum300 {
    font-family: "bareonDotum";
    font-weight: 300;
}
.bareonDotum700 {
    font-family: "bareonDotum";
    font-weight: 700;
}